/* @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

@font-face {
	font-family: 'RousseauDeco';
	src: url('$lib/assets/RousseauDeco.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--main-font);
}

:root {
	/* font-family: 'DM Sans', sans-serif; */
	font-family: 'Viga', sans-serif;


	--primary: #DE1209;
	--secondary: #9209DE;
	--text: #1A151E;


	--bg-color: #fff;

	--blue-1: #fdfdfe;
	--blue-2: #f7f9ff;
	--blue-3: #edf2fe;
	--blue-4: #dfeaff;
	--blue-5: #d0dfff;
	--blue-6: #bdd1ff;
	--blue-7: #a6bff9;
	--blue-8: #87a5ef;
	--blue-9: #3d63dd;
	--blue-10: #3657c3;
	--blue-11: #395bc7;
	--blue-12: #1d2e5c;

	--blue-a1: #00008002;
	--blue-a2: #0040ff08;
	--blue-a3: #0047f112;
	--blue-a4: #0058ff20;
	--blue-a5: #0052ff2f;
	--blue-a6: #004eff42;
	--blue-a7: #0048ee59;
	--blue-a8: #0040dd78;
	--blue-a9: #0032d2c2;
	--blue-a10: #002ab3c9;
	--blue-a11: #002cb7c6;
	--blue-a12: #001347e2;

	--blue-contrast: #fff;
	--blue-surface: #f5f8ffcc;
	--blue-indicator: #3d63dd;
	--blue-track: #3d63dd;

	--gray-1: #fcfcfd;
	--gray-2: #f9f9fb;
	--gray-3: #eff0f3;
	--gray-4: #e7e8ec;
	--gray-5: #e0e1e6;
	--gray-6: #d8d9e0;
	--gray-7: #cdced7;
	--gray-8: #b9bbc6;
	--gray-9: #8b8d98;
	--gray-10: #80828d;
	--gray-11: #62636c;
	--gray-12: #1e1f24;

	--gray-a1: #00005503;
	--gray-a2: #00005506;
	--gray-a3: #00104010;
	--gray-a4: #000b3618;
	--gray-a5: #0009321f;
	--gray-a6: #00073527;
	--gray-a7: #00063332;
	--gray-a8: #00083046;
	--gray-a9: #00051d74;
	--gray-a10: #00051b7f;
	--gray-a11: #0002119d;
	--gray-a12: #000107e1;

	--gray-contrast: #ffffff;
	--gray-surface: #ffffffcc;
	--gray-indicator: #8b8d98;
	--gray-track: #8b8d98;

	--link-text: var(--blue-9);
}

html {
	background-color: var(--bg-color);
	color: var(--text);
	transition: background-color 0.3s;
	cursor: none;
}

body {
	width: 100%;
	height: auto !important;
	min-height: 100%;
}

a {
	cursor: none;
}

h1 {
	font-size: 2.5rem;
	color: var(--primary);
	line-height: 4rem;
	font-weight: 700;
	letter-spacing: -0.025px;
	font-family: "RousseauDeco";
}

h2 {
	font-size: 2rem;
	color: var(--text);
	line-height: 3rem;
	font-weight: 600;
	letter-spacing: -0.04px;
}

h3 {
	font-size: 1.5rem;
	color: var(--text);
	font-weight: 600;
}

h4 {
	font-size: 1.25rem;
	color: var(--text);
	line-height: 2rem;
	font-weight: 400;
	letter-spacing: 0.02rem;
}

h5 {
	font-size: 1rem;
	color: var(--text);
	line-height: 1.5rem;
	font-weight: 400;
	letter-spacing: 0.02rem;
}

h6 {
	font-size: 0.875rem;
	color: var(--text);
	line-height: 1.25rem;
	font-weight: 400;
	letter-spacing: 0.02rem;
}

p {
	color: var(--text);
	font-weight: 400;
	font-size: 1rem;
	letter-spacing: 0.02rem;
	line-height: 1.75rem;
}

input {
	padding: 0.2rem;
	border-radius: 4px;
	border: 1px solid var(--gray-8);
	background-color: transparent;
	color: var(--text);
	cursor: none;
}

input:focus {
	outline: 2px solid var(--violet-10);
}

select {
	cursor: none;
}
